<h3 id="del"></h3>
<form>
    <div>
        <label for="id">ID</label>
        <input type="text" name="id" id="id">
    </div>
    <button type="submit" class="btn btn-danger">Eliminar producto</button>
</form>
<script src="/js/products/delete.js"></script>