<h3 id="mje"></h3>
<form enctype="multipart/form-data">
    <div class="input-group mb-2">
    <input name="id" type="text" class="form-control" placeholder="ID del producto" aria-label="Username">
    </div>
    <div class="input-group mb-2">
    <span class="input-group-text">#</span>
    <input name="title" type="text" class="form-control" placeholder="Titulo" aria-label="Username">
    <span class="input-group-text">#</span>
    <input name="description" type="text" class="form-control" placeholder="Descripcion" aria-label="Server">
    <span class="input-group-text">#</span>
    <input name="price" type="number" class="form-control" placeholder="Precio" aria-label="Server">
    </div>

    <div class="input-group mb-2">
    <span class="input-group-text">#</span>
    <input name="thumbnail" type="file" class="form-control" aria-label="Username">
    <span class="input-group-text">#</span>
    <input name="code" type="text" class="form-control" placeholder="Código" aria-label="Server">
    <span class="input-group-text">#</span>
    <input name="stock" type="number" class="form-control" placeholder="Stock" aria-label="Server">
    </div>
    <button type="submit" class="btn btn-secondary">Nuevo producto</button>
</form>
<script src="/js/products.mongo/update.js"></script>
