<section class="row row-cols-1 row-cols-md-4 g-4">
    {{#each products}}
        <article class="col">
            <div class="card h-100">
                <img src={{this.product.thumbnail}} alt="" class="card-img-top">
                <div class="card-body">
                    <p class="card-title">{{this.product.description}}</p>
                    <p class="card-text">{{this.product.price}}</p>
                    <a href="#" class="btn btn-primary addProduct" id={{this._id}}>Go somewhere</a>
                </div>
            </div>
        </article>
    {{/each}}
    

</section>
