<h3 id="mje"></h3>
<form enctype="multipart/form-data">
    <div>
        <label for="title">Titulo</label>
        <input type="text" name="title" id="title">
    </div>
   <div>
        <label for="description">Descripción</label>
        <input type="text" name="description" id="description">
   </div>
    <div>
        <label for="price">Precio</label>
        <input type="text" name="price" id="price"> 
    </div>
    <div>
        <label for="thumbnail">Imagen</label>
        <input type="text" name="thumbnail" id="thumbnail">
    </div>
    <div>
        <label for="code">Código</label>
        <input type="text" name="code" id="code">
    </div>
    <div>
        <label for="stock">Stock</label>
        <input type="text" name="stock" id="stock">
    </div>
    <button type="submit" class="btn btn-primary">Nuevo producto</button>
</form>
<script src="/js/products/create.js"></script>