<h3 id="mjeDelete"></h3>
<form id="deleteProductFile" enctype="multipart/form-data">
    <div class="input-group mb-2">
    <span class="input-group-text">#</span>
    <input name="id" type="text" class="form-control" placeholder="ID" aria-label="Username">
    </div>
    <button type="submit" class="btn btn-danger">Eliminar producto</button>
</form>
<script src="/js/products.files/destroy.js"></script>