<h3 id="mje"></h3>
<form>
    <div class="input-group mb-3">
        <span class="input-group-text">@</span>
        <input type="text" name="name" class="form-control" placeholder="Nombre" aria-label="Nombre">
        <span class="input-group-text">@</span>
        <input type="text" name="lastname1" class="form-control" placeholder="Apellido paterno" aria-label="Lastname1">
        <span class="input-group-text">@</span>
        <input type="text" name="lastname2" class="form-control" placeholder="Apellido materno" aria-label="Lastname2">
        <span class="input-group-text">@</span>
        <input type="text" name="run" class="form-control" placeholder="Run sin punto y con gión" aria-label="Run">
    </div>
     <div class="input-group mb-3">
        <span class="input-group-text">@</span>
        <input type="text" name="email" name="name" class="form-control" placeholder="Email" aria-label="Email">
        <span class="input-group-text">@</span>
        <input type="text" name="pass" class="form-control" placeholder="Contraseña" aria-label="Password">
    </div>
    <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">Nuevo usuario</button>
    </div>
</form>
<script src="/js/users.mongo/create.js"></script>