<h3 id="mjeReset"></h3>
<form id="formReset">
     <div class="input-group mb-3">
        <span class="input-group-text">@</span>
        <input type="text" name="pass1" class="form-control" placeholder="Contraseña" aria-label="Email">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">@</span>
        <input type="text" name="pass2" class="form-control" placeholder="Reescriba su contraseña" aria-label="Email">
    </div>
    <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">Reestablecer contraseña</button>
    </div>
</form>
<script src="/js/users.mongo/newpassword.js"></script>