<h3 id="resetMje"></h3>
<form id="formReset">
     <div class="input-group mb-3">
        <span class="input-group-text">@</span>
        <input type="email" name="email" class="form-control" placeholder="Email" aria-label="Email">
    </div>
    <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">Reestablecer contraseña</button>
    </div>
</form>
<script src="/js/users.mongo/reset.js"></script>